# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual env
.venv/
venv/
ENV/

# Local env files
.env

# Editor & OS files
.DS_Store
.vscode/
/.idea/
